extends layouts/main-layout.pug

block styles 
        title #{pageTitle}
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/forms.css")
        link(rel="stylesheet" href="/css/product.css")

block content 
    h1 Page Not Found !!